$logo-width: 57px;
$logo-height: 79px;
$nav-width: 230px;
$header-height: 103px;
$menu-height: 33.4px;
$content-width: 960px;
$go_up-width: 130px;
$min-page-width: calc(#{$content-width});

$content-header-font-family: Bebas Neue;

$gear: "⚙";
$arrow-img: 'data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=';
