$blue: #17a;
$blue-hard: #069;
$white: #fff;
$black: #000;
$gray: #ccc;
$gray-hard: #333;
$gray-light: #eee;

// BODY
	// HEADER
		$header-background: $gray-light;

		// Menu
			$menu-background: $blue;
			$menu-foreground: $white;
			$menu-bot-border: $blue-hard;
			$menu-top-border: $gray;
			$menu-hover-background: $blue-hard;

		// Title
			$title-foreground: $blue;
			$title-shadow: $gray;

	// Main
		$main-foreground: $black;
		$main-background: $white;
		// go_up
			$go_up-foreground: $blue;
			$go_up-background: $main-background;
			$go_up-hover-background: $gray-light;

		// content
			$content-foreground: $main-foreground;
			$content-background: $main-background;
			$content-link-foreground: blue;

		// nav
			$nav-border-right: $gray;
			$nav-foreground: $blue;
			$nav-background: $content-background;
			$nav-link-foreground: $nav-foreground;
			$nav-link-background: $nav-background;
			$nav-link-hover-background: $gray-light;

	// FOOTER
		$footer-foreground: $black;
		$footer-background: $gray-light;
		$footer-link-foreground: $black;
		$footer-contact-foreground: $gray-hard;
		$footer-link-background: $gray-hard;
		// CopyRight
			$cr-foreground: $white;
			$cr-background: $blue;
			$cr-top-border: $menu-bot-border;
			$cr-link-foreground: $white;
			$cr-link-hover-foreground: $gray;

// OTHER
	$hr-color: $gray-hard;
	$hr-top-border: $gray-hard;
	$link-foreground: blue;
	$imgCaption-border: $blue;
	$loader-foreground: $blue;
	$loader-background: $gray-light;
