@mixin ie_fix() {
	details {
		max-height: none;
		summary {
			& ~ * {
				max-height: 0;
				overflow: hidden;
				position: absolute;
			}

			span {
				text-decoration: none;
				font-weight: bold;
				background-image: linear-gradient(currentColor, currentColor);
				background-position: 0% 100%;
				background-repeat: no-repeat;
				background-size: 0% 2px;
				transition: background-size .3s;

				&:hover {
					background-size: 100% 2px;
				}
			}

			&:focus {
				&::before { 
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
				}

				& ~ * {
					max-height: 20em;
					position: static;
					opacity: 1;
				}
			}
		}
	}
}

@mixin transform($props...) {
	-webkit-transform: $props;
	-ms-transform: $props;
	-o-transition: $props;
	transform: $props;
}

@mixin transition($props...) {
	-webkit-transition: $props;
	-moz-transition: $props;
	-o-transition: $props;
	transition: $props;
}

@mixin transform-origin($props...) {
	-webkit-transform-origin: $props;
	-ms-transform-origin: $props;
	transform-origin: $props;
}

@mixin user-select($prop) {
	-ms-user-select: $prop;
	-moz-user-select: $prop;
	-khtml-user-select: $prop;
	-webkit-user-select: $prop;
}

@mixin box-shadow($props...) {
	-webkit-box-shadow: $props;
	box-shadow: $props;
}

@mixin flexbox() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-direction($prop) {
	-webkit-flex-direction: $prop;
	-ms-flex-direction: $prop;
	flex-direction: $prop;
}

@mixin background-clip($prop) {
	-webkit-background-clip: $prop;
	background-clip: $prop;
}

@mixin flex-align-items($prop) {
	-webkit-align-items: $prop;
	-ms-flex-align: $prop;
	align-items: $prop;
}

@mixin flex-justify-content($prop) {
	-webkit-justify-content: $prop;
	justify-content: $prop;
}

@mixin hover-underline-sliding($time, $prop) {
	text-decoration: none;
	font-weight: bold;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size $time $prop;

	&:hover {
		background-size: 100% 2px;
	}
}

@mixin uninit-hover-uderline-sliding() {
	&:hover {
		background-size: 0 0;
	}
}

@mixin font-face($fontFamily, $fileName, $fontWeight, $fontStyle, $fontPath) {
	@font-face {
		font-family: $fontFamily;
		src: url('#{$fontPath}/#{$fileName}.ttf');
		src:
		// url('#{$fontPath}/#{$fileName}.eot?#iefix') format('embedded-opentype'),
		// url('#{$fontPath}/#{$fileName}.woff2') format('woff2'),
		// url('#{$fontPath}/#{$fileName}.woff') format('woff'),
		url('#{$fontPath}/#{$fileName}.ttf') format('truetype');
		font-weight: $fontWeight;
		font-style: $fontStyle;
	}
}
