@import "colorscheme.scss";

.illustrations {
	display: block;
	background-color: #fff;
	margin-top: 1em;
	margin-bottom: 1em;

	img {
		width: 100px;
		height: 200px;
		padding: 0.5em;
	}

	.imgCaption {
		margin: 0;
	}

	#klen {
		height: 267px;
		vertical-align: bottom;
		img {
			padding-top: 63px;
			vertical-align: middle;
			width: 100;
			height: 145;
		}

		p {
		}
	}
}

.imgCaption {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	// padding-bottom: 0.1em;
	width: auto;
	text-align: center;
	border: 1px solid $imgCaption-border;

	img {
		vertical-align: middle;
	}
	
	p {
		text-size: 90%;
		padding: 0 1em;
		text-align: center;
	}

	.wrap1 {
		display: inherit;
		max-width: 350px;
	}
}

#eep {
	float: left;
	padding: 2em;
	padding-bottom: 0.1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 0.6em;
}

#eep25 {
	float: left;
	width: 300;
	padding: 2em;
	padding-bottom: 0.1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	padding-bottom: 0.1em;
}

#eep60, #eep60frame {
	display: block;
	float: left;
	padding: 2em;
	padding-bottom: 0.1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 0.6em;

	img {
		width: 185px;
		height: 235px;
	}
}

#epp, #oks {
	float: left;
	padding: 2em;
	padding-bottom: 0.1em;
	margin-top: 0.6em;
	margin-right: 1em;
	margin-bottom: 1em;
}

#mtk200 {
	float: left;
	margin-right: 1em;
	padding-bottom: 0.1em;
	width: 350px;
}

#mtk600 {
	float: right;
	width: 400px;
	margin-left: 0.5em;
	padding: 0.5em;
	padding-bottom: 0.1em;
}

#mtkEl {
	float: right;
	margin: 0.1em;
}

table.tableInfo {
	clear: both;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #eee;
	border-collapse: collapse;

	caption {
		display: table-caption;
		text-align: center;
		caption-side: bottom;
		font-size: 0.8em;
		margin-top: 10px;
	}

	tbody tr:hover {
		td{
			background: #fff;
		}
	}

	tr {
		margin: 0;
		padding: 0;

		th, td {
			text-align: left;
			// padding: 0.2em 0.1em 0.2em 1em;
			padding: 0.2em;
		}

		th {
			background-color: #17a;
			color: #fff;
		}

		td {
			padding-right: 1.5em;
			border-right: 1px solid #17a;
			border-bottom: 1px solid #17a;

			&:first-child {
				background-color: #ccc;
				border-bottom: 1px solid #eee;
				border-right: none;
			}
			&:last-child {
				border-bottom: 1px solid #17a;
				border-right: none;
			}

		}

		&:last-child td {
			border-bottom: none;
		}
	}

	.lvl1 td {
		border-right: none;
	}

	.lvl2 td:first-child {
		// content: "123";
		padding-left: 2em;
	}
}
