.illustrations {
	display: inline;

	img {
		width: 100px;
		height: 200px;
		padding: 0.5em;
	}

	.inline {
		display: inline-block;
	}
}

#mtk600Img {
	float: right;
	width: 400px;
	margin-top: 1em;
	padding: 0.5em;

	img {
		width: 400px;
	}

	p {
		padding: 0 1em;
		text-align: center;
	}
}

#mtk200Img {
	float: left;
	width: 370px;

	img {
		width: 350px;
	}

	p {
		padding: 0 1em;
		text-align: center;
	}
}
