@import "colorscheme.scss";
@import "mixins.scss";
@import "animations.scss";

// $fa-font-path: "pub/fonts/fontawesome/webfonts";
@import "pub/fonts/fontawesome/scss/fontawesome.scss";
@import "pub/fonts/fontawesome/scss/solid.scss";

$logo-width: 57;
$logo-height: 84;

$gear: "⚙";

// IE 10-11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	@include ie_fix();
}

// Edge
@supports (-ms-ime-align:auto) {
	@include ie_fix();
}

body {
	font-family: sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

#header {
	position: relative;

	font-size: 1.75em;
	padding: 3px;
	padding-bottom: 0;
	background-color: $header-background;
	height: 100px;

	img.logo {
		position: absolute;
		width: $logo-width;
		height: $logo-height;
		padding: 0;
		margin: 0.2em;
		margin-bottom: 0;
		text-align: center;
		// transition: 0.5s all;
	}

	// img.logo:hover {
	// }

	$left-pos: $logo-width + 36px;

	#headerTitle {
		position: absolute;
		left: $left-pos;
		top: 0.3em;

		width: 284px;
		height: 34px;

		// animation: spin 1s linear infinite;
		// animation-play-state: paused;
		transition: all 1s;

		span {
			transition: 0.5s;
		}

		&:hover span {
			color: $gray;
			// animation-play-state: running;
		}

		a {
			color: $title-foreground;
		}
	}

	#menu {
		display: block;
		position: absolute;
		bottom: 0;
		left: $left-pos;
		width: calc(100% - #{$left-pos});

		clear: none;

		background-color: $menu-background;
		border: none;
		border-top: 1px solid $menu-top-border;
		border-bottom: 1px solid $menu-bot-border;
		border-top-left-radius: 20px;

		ul.menu {
			list-style: none;
			font-size: 0.6em;
			padding: 0;
			margin: 0 0 0 1em;

			&:after {
				display: block;
				float: none;
				content: '';
				clear: both;
			}

			li {
				display: inline-block;
				position: relative;
			}

			a {
				display: block;
				vertical-align: middle;
				outline: none;
				padding: 0.5em 5px;
				color: $menu-foreground;
				transition: 0.5s all;

				&:hover {
					background-color: $menu-hover-background;
					transition: 0.8s all;
				}
			}

			// a {
			//   overflow: hidden;
			//   margin: 0 15px;
			// }

			// a span {
			//   display: block;
			//   padding: 10px 20px;
			//   background: #0f7c67;
			//   -webkit-transition: -webkit-transform 0.3s;
			//   -moz-transition: -moz-transform 0.3s;
			//   transition: transform 0.3s;
			// }

			// a::before {
			//   position: absolute;
			//   top: 0;
			//   left: 0;
			//   z-index: -1;
			//   padding: 10px 20px;
			//   width: 100%;
			//   height: 100%;
			//   background: #fff;
			//   color: #0f7c67;
			//   content: attr(data-hover);
			//   -webkit-transition: -webkit-transform 0.3s;
			//   -moz-transition: -moz-transform 0.3s;
			//   transition: transform 0.3s;
			//   -webkit-transform: translateX(-25%);
			// }

			// a:hover span,
			// a:focus span {
			//   -webkit-transform: translateX(100%);
			//   -moz-transform: translateX(100%);
			//   transform: translateX(100%);
			// }

			// a:hover::before,
			// a:focus::before {
			//   -webkit-transform: translateX(0%);
			//   -moz-transform: translateX(0%);
			//   transform: translateX(0%);
			// }


			// TMP
			// a::before {
			// 	position: absolute;
			//   	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 2px;
			// 	background: #fff;
			// 	content: '';
			// 	-webkit-transition: top 0.3s;
			// 	-moz-transition: top 0.3s;
			// 	transition: top 0.3s;
			// }

			// a::after {
			//   	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 2px;
			// 	height: 2px;
			// 	background: #fff;
			// 	content: '';
			// 	-webkit-transition: height 0.3s;
			// 	-moz-transition: height 0.3s;
			// 	transition: height 0.3s;
			// }

			// a:hover::before {
			// 	top: 100%;
			// 	opacity: 1;
			// }

			// a:hover::after {
			// 	height: 100%;
			// } 
		}

		// ul.subMenu {
		// 	position: absolute;
		// 	top: 100%;
		// 	left: 0;
		// 	// width: 100%;
		// 	max-width: 1000px;
		// 	z-index: 100;
		// 	padding: 0;
		// 	margin: 0;

		// 	background-color: $menu-background;
		// 	color: $menu-foreground;

		// 	@include transition(0.5s, ease-in-out);
		// 	@include transform-origin(0, 0);
		// 	@include transform(scaleY(0));

		// 	li {
		// 		display: block;
		// 		a {
		// 			display: block;
		// 		}
		// 	}
		// }

		// ul.menu > li:hover > ul.subMenu {
		// 	@include transform(scaleY(1));
		// }
	}
}

#footer {
	width: 100%;
	color: $footer-foreground;
	padding: 0;
	margin: 0;

	#fcontent {
		display: table;
		padding: 0 25px 0 25px;
		margin: 0;
		width: calc(100% - 50px);

		background-color: $footer-background;

		$footer-block-width: 15em;

		#info,
		#forclients,
		#contacts {
			display: inline-block;
			vertical-align: top;
			width: $footer-block-width;
			padding: 1em;
			text-align: left;
		}

		#info {
		}

		#forclients {
			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					transition: 0.8s all;

					a {
						color: $footer-link-foreground;
						text-decoration: underline;

						&:hover {
							text-decoration: none;
							transition: 0.8s all;
						}
					}
				}
			}
		}

		#contacts {
			float: right;
		}

		p, ul {
			font-size: 70%;
		}

		h2 {
			a {
				color: $footer-link-foreground;

				&:hover {
					color: $footer-link-background;
				}
			}
		}
	}

	#CopyRight {
		display: table;
		width: 100%;

		font-size: 0.8em;
		color: $cr-foreground;
		background-color: $cr-background;
		border-top: 1px solid $cr-top-border;
		padding: 0;
		margin: 0;

		p {
			text-align: center;
			padding: 0;
			margin: 0;
		}

		a {
			color: $cr-link-foreground;
			transition: 0.5s all;

			&:hover {
				transition: 0.5s all;
				color: $cr-link-hover-foreground;
			}
		}
	}
}

#main {
	clear: both;
	margin: 0;
	padding: 0;
	
	#nav {
		float: left;
		margin: 0 1px 0 0;
		padding: 1em 0;
		border-right: 1px dotted $nav-border-right;
		width: 200px;

		ul {
			overflow: hidden;
			padding: 0;
			margin: 0;

			li {
				list-style: none;
				padding: 0;
				margin: 0;

				a {
					display: block;
					margin: 0;
					padding: 0.8ex 2em 0.8ex 1em;

					color: $nav-link-foreground;

					&:hover {
						background-color: $nav-link-hover-background;
					}
				}
			}

			li.buttoned {
				display: table;
				width: 100%;

				.wrap {
					width: 102.4px;
				}

				.split {
					display: table-cell;

					li {
						width: 80%;
					}
				}

				#servInp, #opsInp {
					cursor: pointer;
					display: table-cell;
					user-select: none;

					float: right;
					width: .1em;
					height: 1em;
				}

				#servTxt, #opsTxt {
				}
			}
		}

		ul.subMenu {
			padding: 0;
			display: none;
			font-size: 80%;

			li {
				a {
					padding-left: 2.3em;
				}

				// position: relative;
				// margin-left: 20px;
				// -webkit-transition-duration: 0.3s;
				// transition-duration: 0.3s;

				// &:before {
				// 	// position: absolute;
				// 	width: 1em;
				// 	height: 1em;
				// 	content: $gear;
				// 	color: $gray;
				// 	top: -1em;
				// 	text-align: center;
				// 	padding-right: 1em;
				// }

				// &:after {
				// }

				// // a:hover {
				// // 	background-color: $nav-background;
				// // }

				// &:hover:before {
				// 	animation: spin 1s linear;
				// 	color: $gray-hard;
				// }
			}
		}
	}

	#content {
		background-color: $content-background;
		color: $content-foreground;
		margin: 0 0 0 200px;
		max-width: 50em;
		padding: 1.5em;
		margin-bottom: 10em;
		min-height: 300px;

		img.directorImg {
			width: 400px;
			height: 300px;
			display: inline-block;
			padding: 0.1em;
			padding-top: 1em;
		}

		p.directorInfo {
			display: inline-block;
			margin: 0;
			padding: 1em;
			padding-top: 1em;
			vertical-align: top;
		}

		a {
			@include hover-underline-sliding(0.3s);
		}

		hr {
			margin-top: 1.2em;
			margin-bottom: 2.2em;

			padding: 0;
			border: none;
			border-top: 1px solid $hr-top-border;
			color: $hr-color;
			text-align: center;

			&:after {
				content: $gear $gear $gear;
				display: inline-block;
				position: relative;
				top: -0.6em;
				font-size: 1.5em;
				padding: 0 0.25em;
				background: $content-background;
			}
		}
	}

	.loader-wrapper {
		width: 800;
		height: 400;
		display: flex;
		justify-content: center; /*Центрирование по горизонтали*/
		align-items: center;
	}

	$radius: 100;

	.loader {
		width: $radius;
		height: $radius;

		border: 16px solid $loader-background;
		border-top: 16px solid $loader-foreground;
		border-radius: 50%;

		animation: spin 1s linear infinite;
	}

	#yMap {
		iframe {
			width: 800;
			height: 400;
			border: none;
			z-index: 100;
		}
	}

	details {
		margin: 1em 1ex 0.5ex 0;
		position: relative;
		margin-bottom: .5rem;
		min-height: 1rem;
		max-height: 3rem;
		@include transition(min-height .15s linear, max-height .5s linear);
		will-change: max-height;
		overflow: hidden;

		ul {
			margin-left: 1.5em;
		}

		summary {
			&::-webkit-details-marker { display: none; }
			&::-moz-list-bullet { list-style-type: none; }
			
			display: inline-block;
			
			padding-left: 1.5em;

			cursor: pointer;
			outline: 0;
			
			@include transition(color .12s);
			
			span {
				@include hover-underline-sliding(0.3s);
			}
		
			$img-marker: 'data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=';

			&::before {
				content: "";
				left: 0;
				top: .1em;
				position: absolute;
				background: url($img-marker) no-repeat 50% 50% / 1em 1em;
				width: 1em;
				height: 1em;
				@include transition(transform .1s linear);
			}

			& ~ * {
			  padding-left: 1.5em;
			  opacity: 0;
			  @include transition(opacity .15s linear);
			}
		}

		// opened spoiler
		&[open] {
			min-height: 2em;
			max-height: 200em;
			summary {
				// color: #d06c6c;
		  
				& ~ * {  opacity: 1; }
		  
				&:before {
					@include transform(rotate(90deg));
				}
			}
		}
	}
}

* a {
	color: $link-foreground;
}

$h-margins: 1em 1ex 0.5ex 0;

h1 {
	margin: $h-margins;
	font-size: 1.4em;
}

h2 {
	margin: $h-margins;
	font-size: 1.3em;
}

h3 {
	margin: $h-margins;
	font-size: 1.0em;
}

h4 {
	margin: $h-margins;
	font-size: 0.9em;
}

#header a, #nav a, #menu a, #footer a {
	text-decoration: none;
}

.contact {
	color: $footer-contact-foreground;
	font-style: italic;
}

.hidden {
	display: none;
}

.tooltip span {
	width: auto;
	height: auto;
	position: relative;
	display: none;
	animation: animate 0.5s ease-in-out;
}

.tooltip:hover span {
	display: block;
}
