@charset "UTF-8";
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  details {
    max-height: none; }
    details summary ~ * {
      max-height: 0;
      overflow: hidden;
      position: absolute; }
    details summary:focus {
      color: #d06c6c; }
      details summary:focus::before {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); }
      details summary:focus ~ * {
        max-height: 20em;
        position: static;
        opacity: 1; } }

@supports (-ms-ime-align: auto) {
  details {
    max-height: none; }
    details summary ~ * {
      max-height: 0;
      overflow: hidden;
      position: absolute; }
    details summary:focus {
      color: #d06c6c; }
      details summary:focus::before {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); }
      details summary:focus ~ * {
        max-height: 20em;
        position: static;
        opacity: 1; } }

body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  padding: 0;
  margin: 0; }

#header {
  position: relative;
  font-size: 1.75em;
  padding: 3px;
  padding-bottom: 0;
  background-color: #eee;
  height: 100px; }
  #header #logo {
    position: absolute;
    width: 57;
    height: 84;
    padding: 0;
    margin: 0.2em;
    margin-bottom: 0;
    text-align: center; }
    #header #logo span {
      vertical-align: middle; }
    #header #logo #c {
      color: #17a;
      font-size: 2.5em;
      font-weight: bold; }
    #header #logo #t {
      position: absolute;
      top: 1px;
      left: 16px;
      color: red;
      font-size: 2.1em;
      font-weight: bold; }
  #header .headerTitle {
    position: absolute;
    left: 57;
    margin-left: 1.5em;
    margin-top: 0.3em; }
    #header .headerTitle a {
      color: #17a;
      transition: 0.5s all; }
      #header .headerTitle a:hover {
        text-shadow: 4px 2px 2px #ccc;
        transition: 1s all; }
  #header #menu {
    display: block;
    position: absolute;
    bottom: 0;
    left: 67px;
    width: calc(100% - (1em + 67px));
    clear: none;
    margin-left: 1em;
    margin-bottom: 0;
    background-color: #17a;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #069;
    border-top-left-radius: 20px; }
    #header #menu ul.menu {
      list-style: none;
      font-size: 0.6em;
      padding: 0;
      margin: 0 0 0 1em; }
      #header #menu ul.menu:after {
        display: block;
        float: none;
        content: ' ';
        clear: both; }
      #header #menu ul.menu li {
        display: inline-block;
        position: relative; }
      #header #menu ul.menu a {
        display: block;
        vertical-align: middle;
        padding: 0.5em 5px;
        color: #fff;
        transition: 0.5s all; }
        #header #menu ul.menu a:hover {
          background-color: #069;
          transition: 0.8s all; }

img.logo {
  padding: 0;
  margin: 0.2em;
  margin-bottom: 0;
  transition: 0.5s all; }

img.logo:hover {
  text-shadow: 4px 2px 20px #ccc;
  transition: 1s all; }

#footer {
  width: 100%;
  color: #000;
  padding: 0;
  margin: 0; }
  #footer .top {
    display: table;
    padding: 0 25px 0 25px;
    margin: 0;
    width: calc(100% - 50px);
    background-color: #eee; }
    #footer .top .info {
      display: inline-block;
      vertical-align: top;
      width: 15em;
      padding: 1em; }
    #footer .top .contacts {
      display: inline-block;
      vertical-align: top;
      float: right;
      width: 15em;
      text-align: left;
      padding: 1em; }
      #footer .top .contacts .contact {
        color: #333;
        font-style: italic; }
    #footer .top .forClients {
      display: inline-block;
      vertical-align: top;
      width: 15em;
      text-align: left;
      padding: 1em; }
      #footer .top .forClients ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        #footer .top .forClients ul li {
          transition: 0.8s all; }
          #footer .top .forClients ul li a {
            color: #000;
            text-decoration: underline; }
            #footer .top .forClients ul li a:hover {
              text-decoration: none;
              transition: 0.8s all; }
    #footer .top p, #footer .top ul {
      font-size: 70%; }
    #footer .top h2 a {
      color: #000; }
      #footer .top h2 a:hover {
        color: #333; }
  #footer #CopyRight {
    display: table;
    width: 100%;
    font-size: 0.8em;
    color: #fff;
    background-color: #17a;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 0; }
    #footer #CopyRight p {
      text-align: center;
      padding: 0;
      margin: 0; }
    #footer #CopyRight a {
      color: #fff;
      transition: 0.5s all; }
      #footer #CopyRight a:hover {
        transition: 0.5s all;
        color: #d3d3d3; }

#main {
  clear: both;
  margin: 0;
  padding: 0; }
  #main #nav {
    float: left;
    margin: 0 1px 0 0;
    padding: 1em 0;
    border-right: 1px dotted #ccc;
    width: 200px; }
    #main #nav ul {
      overflow: hidden;
      padding: 0;
      margin: 0; }
      #main #nav ul li {
        list-style: none;
        padding: 0;
        margin: 0; }
        #main #nav ul li a {
          display: block;
          margin: 0;
          padding: 0.8ex 2em 0.8ex 1em;
          color: #17a; }
          #main #nav ul li a:hover {
            background-color: #ddd; }
      #main #nav ul li.buttoned {
        display: table;
        width: 100%; }
        #main #nav ul li.buttoned .wrap {
          width: 102.4px; }
        #main #nav ul li.buttoned .split {
          display: table-cell; }
          #main #nav ul li.buttoned .split li {
            width: 80%; }
        #main #nav ul li.buttoned #servInp, #main #nav ul li.buttoned #opsInp {
          display: table-cell;
          user-select: none;
          float: right;
          width: .1em;
          height: 1em; }
    #main #nav ul.subMenu {
      display: none;
      font-size: 80%; }
      #main #nav ul.subMenu li {
        padding-left: 1em; }
  #main #content {
    margin: 0 0 0 200px;
    max-width: 50em;
    padding: 1.5em;
    margin-bottom: 10em;
    min-height: 300px; }
    #main #content a {
      text-decoration: none;
      font-weight: bold;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s; }
      #main #content a:hover {
        background-size: 100% 2px; }
    #main #content hr {
      margin-top: 1.2em;
      margin-bottom: 2.2em;
      padding: 0;
      border: none;
      border-top: 1px solid #333;
      color: #333;
      text-align: center; }
      #main #content hr:after {
        content: "⚙" "⚙" "⚙";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: white; }
  #main details {
    position: relative;
    margin-bottom: .5rem;
    min-height: 1rem;
    max-height: 3rem;
    transition: min-height .15s linear, max-height .5s linear;
    -webkit-transition: min-height .15s linear, max-height .5s linear;
    will-change: max-height;
    overflow: hidden; }
    #main details summary {
      display: inline-block;
      padding-left: 1.5em;
      cursor: pointer;
      outline: 0;
      transition: color .12s;
      -webkit-transition: color .12s; }
      #main details summary::-webkit-details-marker {
        display: none; }
      #main details summary::-moz-list-bullet {
        list-style-type: none; }
      #main details summary span {
        border-bottom: 1px currentColor dotted; }
      #main details summary::before {
        content: "";
        left: 0;
        top: .4em;
        position: absolute;
        background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50%/1em 1em;
        width: 1em;
        height: 1em;
        transition: transform .1s linear;
        -webkit-transition: transform .1s linear; }
      #main details summary:hover {
        color: #d06c6c; }
      #main details summary ~ * {
        padding-left: 1.5em;
        opacity: 0;
        transition: opacity .15s linear;
        -webkit-transition: opacity .15s linear; }
    #main details[open] {
      min-height: 2em;
      max-height: 20em; }
      #main details[open] summary {
        color: #d06c6c; }
        #main details[open] summary ~ * {
          opacity: 1; }
        #main details[open] summary:before {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg); }

img.directorImg {
  display: inline-block;
  padding: 0.1em;
  padding-top: 1em; }

p.directorInfo {
  display: inline-block;
  margin: 0;
  padding: 1em;
  padding-top: 1em;
  vertical-align: top; }

* a {
  color: blue; }

h1 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.4em; }

h2 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.3em; }

h3 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.0em; }

h4 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 0.9em; }

#header a, #nav a, #menu a, #footer a {
  text-decoration: none; }

.hidden {
  display: none; }

.splitMajor {
  display: inline; }

.splitMinor {
  display: inline-block; }

.tooltip span {
  width: auto;
  height: auto;
  position: relative;
  display: none;
  animation: animate 0.5s ease-in-out; }

.tooltip:hover span {
  display: block; }
