#footer {
	position: absolute;
	width: 100%;
	color: $footer-foreground;
	padding: 0;
	margin: 0;
	min-width: $min-page-width;

	z-index: 999;

	.contact {
		font-family: Lato;
	}

	#fcontent {
		display: table;
		padding: 0 25px 0 25px;
		margin: 0;
		width: calc(100% - 50px);
		background-color: $footer-background;
		$footer-block-width: 15em;

		#info,
		#forclients,
		#contacts {
			display: inline-block;
			vertical-align: top;
			width: $footer-block-width;
			padding: 1em;
			text-align: left;
		}

		#contacts {
			float: right;
		}

		#forclients {
			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;

					a {
						color: $footer-link-foreground;
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		p, ul {
			font-size: 70%;
		}

		h2 {
			a {
				color: $footer-link-foreground;
				transition: 0.8s all ease-in-out;

				&:hover {
					transition: 0.1s all ease-in-out;
					color: $footer-link-background;
				}
			}
		}
	}

	#CopyRight {
		font-family: Lato;
		display: table;
		width: 100%;

		font-size: 0.8em;
		color: $cr-foreground;
		background-color: $cr-background;
		border-top: 1px solid $cr-top-border;
		padding-bottom: 2px;
		margin: 0;

		p {
			text-align: center;
			padding: 0;
			margin: 0;
		}

		a {
			color: $cr-link-foreground;
			transition: 0.5s all;

			&:hover {
				transition: 0.5s all;
				color: $cr-link-hover-foreground;
			}
		}
	}
}
