.illustrations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  background-color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em 0;
  background-color: #fff; }
  .illustrations .imgCaption {
    flex-basis: 100px;
    width: 100px;
    height: 250px;
    flex-grow: 1;
    padding: 1em; }
  .illustrations img {
    object-fit: contain;
    width: 100%;
    height: 100%; }

.imgCaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  padding: 1em;
  width: auto;
  border: 1px solid #17a;
  background-color: #fff; }
  .imgCaption img {
    object-fit: contain; }
  .imgCaption p {
    text-size: 90%;
    padding: 0 1em;
    text-align: center;
    align-self: center;
    font-family: Fedra Sans; }
  .imgCaption .wrap1 {
    display: inherit;
    max-width: 350px; }

#eep {
  float: left;
  padding: 2em;
  padding-bottom: 0.1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 0.6em; }

#eep25 {
  float: left;
  width: 300;
  padding: 2em;
  padding-bottom: 0.1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0.1em; }

#eep60, #eep60frame {
  display: block;
  float: left;
  padding: 2em;
  padding-bottom: 0.1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 0.6em; }
  #eep60 img, #eep60frame img {
    width: 185px;
    height: 235px; }

#epp.imgCaption, #oks.imgCaption {
  float: left;
  padding: 2em;
  padding-bottom: 0.1em;
  margin-top: 0.6em;
  margin-right: 1em;
  margin-bottom: 1em; }

#mtk200 {
  float: left;
  margin-right: 1em;
  padding-bottom: 0.1em;
  width: 350px; }

#mtk600 {
  float: right;
  width: 400px;
  margin-left: 0.5em;
  padding: 0.5em;
  padding-bottom: 0.1em; }

#mtkEl {
  float: right;
  margin: 0.1em; }

table.tableInfo {
  clear: both;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #eee;
  border-collapse: collapse; }
  table.tableInfo caption {
    display: table-caption;
    text-align: center;
    caption-side: bottom;
    font-size: 0.8em;
    margin-top: 10px; }
  table.tableInfo tbody tr:hover td {
    background: #fff; }
  table.tableInfo tr {
    margin: 0;
    padding: 0; }
    table.tableInfo tr th, table.tableInfo tr td {
      text-align: left;
      padding: 0.2em; }
    table.tableInfo tr th {
      background-color: #17a;
      color: #fff; }
    table.tableInfo tr td {
      padding-right: 1.5em;
      border-right: 1px solid #17a;
      border-bottom: 1px solid #17a; }
      table.tableInfo tr td:first-child {
        background-color: #ccc;
        border-bottom: 1px solid #eee;
        border-right: none; }
      table.tableInfo tr td:last-child {
        border-bottom: 1px solid #17a;
        border-right: none; }
    table.tableInfo tr:last-child td {
      border-bottom: none; }
  table.tableInfo .lvl1 td {
    border-right: none; }
  table.tableInfo .lvl2 td:first-child {
    padding-left: 2em; }
