.hidden-nav-ticker {
	display: none;
}
.nav-btn {
	z-index: 1000;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0;
	transition: left .2s;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	height: 100%;

	span {
		height: calc(100% - 10px*2);
		writing-mode: vertical-lr;
		position: relative;
		background-color: $blue;
		color: $white;
		padding: 10px 1px;
		border-radius: 0 0 6px 0;
		text-align: center;

		&:hover {
			background-color: $blue-hard;
		}
	}

	span.open {
		display: block;
	}
	span.close {
		display: none;
	}
}
.hidden-nav-ticker:checked ~ .nav-btn {
	left: $nav-width;
}
.hidden-nav-ticker:checked ~ .hidden-nav {
	left: 0;
}

.hidden-nav-ticker:checked ~ .nav-btn span.open {
	display: none;
}
.hidden-nav-ticker:checked ~ .nav-btn span.close {
	display: block;
}
